<form class="form-horizontal" name="$ctrl.registryFormGithub" ng-submit="$ctrl.formAction()">
  <div class="col-sm-12 form-section-title"> GitHub Container Registry account details </div>

  <div class="form-group">
    <label for="registry_name" class="col-sm-3 col-lg-2 control-label required text-left">Name</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" id="registry_name" name="registry_name" ng-model="$ctrl.model.Name" required data-cy="registry-name-input" />
      <div class="help-block" ng-show="$ctrl.registryFormGithub.registry_name.$invalid">
        <div class="small text-warning" ng-messages="$ctrl.registryFormGithub.registry_name.$error">
          <p ng-message="required" class="vertical-center"><pr-icon icon="'alert-triangle'"></pr-icon> This field is required.</p>
          <p ng-message="used" class="vertical-center"><pr-icon icon="'alert-triangle'"></pr-icon> A registry with the same name already exists.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="registry_username" class="col-sm-3 col-lg-2 control-label required text-left">GitHub username</label>
    <div class="col-sm-9 col-lg-10">
      <input
        type="text"
        class="form-control"
        id="registry_username"
        name="registry_username"
        ng-model="$ctrl.model.Username"
        required
        auto-focus
        data-cy="registry-username-input"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="registry_password" class="col-sm-3 col-lg-2 control-label required text-left">Personal access token</label>
    <div class="col-sm-9 col-lg-10">
      <input type="password" class="form-control" id="registry_password" name="registry_password" ng-model="$ctrl.model.Password" required autocomplete="off" />
      <span class="help-block">Use a GitHub token with <code>read:packages</code>; authorize SSO when the organization requires it.</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <por-switch-field
        label="'Use organization registry'"
        checked="$ctrl.model.Github.useOrganisation"
        on-change="($ctrl.toggleOrganisation)"
        label-class="'col-sm-2'"
      ></por-switch-field>
    </div>
  </div>

  <div class="form-group" ng-if="$ctrl.model.Github.useOrganisation">
    <label for="github_organisation_name" class="col-sm-3 col-lg-2 control-label required text-left">Organization name</label>
    <div class="col-sm-9 col-lg-10">
      <input
        type="text"
        class="form-control"
        id="github_organisation_name"
        name="github_organisation_name"
        ng-model="$ctrl.model.Github.organisationName"
        required
        data-cy="registry-organisation-name-input"
      />
    </div>
  </div>

  <div class="col-sm-12 form-section-title"> Actions </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        ng-disabled="$ctrl.actionInProgress || !$ctrl.registryFormGithub.$valid"
        button-spinner="$ctrl.actionInProgress"
        data-cy="registry-add-button"
      >
        <span ng-hide="$ctrl.actionInProgress">{{ $ctrl.formActionLabel }}</span>
        <span ng-show="$ctrl.actionInProgress">In progress...</span>
      </button>
    </div>
  </div>
</form>
